* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

* {
  font-family: "RobotoBlack"; }

body {
  margin: 0;
  padding: 0;
  background-image: url(img/bg.jpg);
  overflow-x: hidden; }

h1, h4 {
  text-transform: uppercase;
  text-align: center; }

p {
  text-align: center; }

ul li {
  list-style: none; }

a {
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer; }

@font-face {
  font-family: "RobotoBlack";
  src: url(fonts/RobotoBlack.ttf) format("truetype"); }

@font-face {
  font-family: "RobotoBlackItalic";
  src: url(fonts/RobotoBlack.ttf) format("truetype"); }

@font-face {
  font-family: "RobotoBold";
  src: url(fonts/RobotoBlack.ttf) format("truetype"); }

@font-face {
  font-family: "RobotoBoldItalic";
  src: url(fonts/RobotoBlack.ttf) format("truetype"); }

@font-face {
  font-family: "RobotoItalic";
  src: url(fonts/RobotoBlack.ttf) format("truetype"); }

@font-face {
  font-family: "RobotoLight";
  src: url(fonts/RobotoBlack.ttf) format("truetype"); }

@font-face {
  font-family: "RobotoLightItalic";
  src: url(fonts/RobotoBlack.ttf) format("truetype"); }

@font-face {
  font-family: "RobotoMedium";
  src: url(fonts/RobotoBlack.ttf) format("truetype"); }

@font-face {
  font-family: "RobotoMediumItalic";
  src: url(fonts/RobotoBlack.ttf) format("truetype"); }

@font-face {
  font-family: "RobotoRegular";
  src: url(fonts/RobotoBlack.ttf) format("truetype"); }

@font-face {
  font-family: "RobotoRegular";
  src: url(fonts/RobotoBlack.ttf) format("truetype"); }

@font-face {
  font-family: "RobotoThin";
  src: url(fonts/RobotoBlack.ttf) format("truetype"); }

@font-face {
  font-family: "RobotoThinItalic";
  src: url(fonts/RobotoBlack.ttf) format("truetype"); }

.text-center {
  text-align: center; }

header {
  position: fixed;
  top: 0;
  background-color: transparent;
  transition: 0.5s;
  width: 100%;
  z-index: 99999; }
  @media only screen and (max-width: 768px) {
    header {
      height: 100px;
      border-bottom: 1px solid #827B7B; } }
  header .phone-number {
    font-family: RobotoBold;
    color: #fff;
    font-size: 25px;
    right: 3%;
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 47%; }
    @media only screen and (min-width: 769px) and (max-width: 1199px) {
      header .phone-number {
        display: none; } }
    @media only screen and (max-width: 768px) {
      header .phone-number {
        display: none; } }
  @media only screen and (min-width: 768px) {
    header #menu {
      float: right; } }
  header #icon-menu {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    right: 5%; }
    @media only screen and (min-width: 768px) {
      header #icon-menu {
        display: none; } }
  header .show-menu {
    left: 0% !important; }
  header .logo {
    background-color: #000; }
  header #logo {
    width: 12%;
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 100%;
    left: 5%;
    transition: 0.5s; }
    @media only screen and (max-width: 768px) {
      header #logo {
        top: 50%;
        width: 115px;
        height: 75px; } }
  header #menu-list {
    margin: 0;
    padding: 0;
    float: right; }
    @media only screen and (min-width: 1200px) {
      header #menu-list {
        -webkit-transform: translate(-60%, 0);
        -moz-transform: translate(-60%, 0);
        -ms-transform: translate(-60%, 0);
        transform: translate(-60%, 0); } }
    @media only screen and (min-width: 769px) and (max-width: 1199px) {
      header #menu-list {
        -webkit-transform: translate(-5%, 0);
        -moz-transform: translate(-5%, 0);
        -ms-transform: translate(-5%, 0);
        transform: translate(-5%, 0); } }
    @media only screen and (max-width: 768px) {
      header #menu-list {
        text-align: center;
        display: block;
        position: absolute;
        width: 100%;
        left: 100%;
        top: 100%;
        transition: 0.4s; } }
    header #menu-list li {
      list-style: none;
      position: relative; }
      @media only screen and (min-width: 768px) {
        header #menu-list li {
          height: 100px;
          margin: 0 5px;
          display: inline-block;
          float: left; }
          header #menu-list li:after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
            right: -10%;
            display: inline-block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #fff; }
          header #menu-list li:last-child:after {
            content: '';
            display: none; } }
      header #menu-list li a {
        color: #000;
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        display: block;
        height: 100%;
        padding: 0 20px;
        color: #fff; }
        header #menu-list li a:hover {
          color: #EAB96A !important; }
        @media only screen and (min-width: 768px) and (max-width: 992px) {
          header #menu-list li a {
            padding: 0 10px; } }
        @media only screen and (min-width: 768px) {
          header #menu-list li a:focus {
            border-bottom: 2px solid #EAB96A;
            color: #EAB96A; } }
        @media only screen and (max-width: 768px) {
          header #menu-list li a {
            padding: 10px 150px;
            color: #EAB96A; } }
        @media only screen and (min-width: 768px) {
          header #menu-list li a {
            line-height: 6.2; } }
      @media only screen and (max-width: 768px) {
        header #menu-list li {
          padding: 10px 0;
          border-bottom: 1px solid #fff;
          background-color: #131316; } }
  header .lines {
    position: absolute;
    bottom: 1px;
    left: 0;
    z-index: -2;
    width: 100%;
    background-color: transparent; }
    @media only screen and (max-width: 768px) {
      header .lines {
        display: none; } }
    header .lines div {
      display: inline-block;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0; }
    header .lines .line-1 {
      width: 3%;
      left: 0;
      background-color: #827B7B; }
    header .lines .line-2 {
      width: 21%;
      left: 3%;
      background-color: transparent; }
    header .lines .line-3 {
      width: 81%;
      left: 19%;
      background-color: #827B7B; }

#home {
  position: relative;
  display: block;
  background-image: url(img/home-bg.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; }
  #home .container {
    height: 100vh;
    position: relative; }
  #home .welcome {
    width: 100%;
    color: #fff;
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    #home .welcome .stars {
      margin: 0 auto;
      height: 15px;
      width: 90px;
      background-image: url(img/stars.png);
      background-position: center center;
      background-size: cover;
      margin-bottom: 35px; }
    #home .welcome span {
      display: block;
      font-family: Georgia; }
      #home .welcome span:before {
        display: inline-block;
        content: '';
        width: 100px;
        height: 6px;
        margin-right: 80px;
        background-image: url(img/arrow-gold-left.png);
        background-position: center center;
        background-size: cover; }
        @media only screen and (max-width: 768px) {
          #home .welcome span:before {
            display: none; } }
      #home .welcome span:after {
        display: inline-block;
        content: '';
        width: 100px;
        height: 6px;
        margin-left: 80px;
        background-image: url(img/arrow-gold-right.png);
        background-position: center center;
        background-size: cover; }
        @media only screen and (max-width: 768px) {
          #home .welcome span:after {
            display: none; } }
    #home .welcome h1 {
      font-family: Georgia;
      font-weight: bold;
      display: block;
      text-transform: uppercase;
      width: 100%;
      font-size: 50px; }
      #home .welcome h1 b {
        color: #EAB96A; }
      @media only screen and (max-width: 768px) {
        #home .welcome h1 {
          margin: 10px 0px;
          font-size: 28px; } }
    #home .welcome p {
      width: 100%;
      font-family: Georgia;
      margin: 0; }
      @media only screen and (max-width: 768px) {
        #home .welcome p {
          padding: 0 10px; } }
    #home .welcome .arrows {
      margin: 0 auto;
      margin-top: 35px;
      background-image: url(img/arrows-gold.png);
      background-position: center center;
      background-size: cover;
      width: 140px;
      height: 6px;
      margin-bottom: 60px; }
    #home .welcome .btn-down {
      display: block;
      position: relative;
      width: 60px;
      height: 60px;
      border: 1px solid #fff;
      border-radius: 50%;
      margin: 0 auto;
      transition: 0.3s; }
      #home .welcome .btn-down:hover {
        background-color: #fff; }
      #home .welcome .btn-down .arrow-down {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        border-right: 3px solid #EAB96A;
        border-bottom: 3px solid #EAB96A;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -moz-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg); }
  #home .granola {
    position: absolute;
    bottom: -3%;
    right: 5%;
    width: 236px;
    height: 247px;
    z-index: 10;
    background-image: url(img/granola1.png);
    background-position: center center;
    background-size: cover; }
    @media only screen and (max-width: 768px) {
      #home .granola {
        width: 118px;
        height: 123px; } }
  #home .home-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 140px;
    background-image: url(img/border1.png);
    background-position: center center;
    background-size: cover; }

#programs {
  padding: 30px 0;
  position: relative; }
  #programs .granola {
    position: absolute;
    top: 13%;
    left: -3%;
    width: 160px;
    height: 197px;
    z-index: 10;
    background-image: url(img/granola2.png);
    background-position: center center;
    background-size: cover; }
    @media only screen and (max-width: 768px) {
      #programs .granola {
        display: none; } }
  #programs .cup-coffee {
    position: absolute;
    bottom: -10%;
    right: 0;
    width: 600px;
    height: 657px;
    z-index: 10;
    background-image: url(img/coffee-cup.png);
    background-position: center center;
    background-size: cover; }
    @media only screen and (max-width: 768px) {
      #programs .cup-coffee {
        display: none; } }
  #programs h1 {
    font-size: 50px;
    letter-spacing: 4px;
    margin-bottom: 45px; }
    @media only screen and (max-width: 768px) {
      #programs h1 {
        font-size: 28px; } }
    #programs h1:before {
      display: inline-block;
      content: '';
      width: 15px;
      height: 15px;
      margin-right: 20px;
      -webkit-transform: translate(0, -60%);
      -moz-transform: translate(0, -60%);
      -ms-transform: translate(0, -60%);
      transform: translate(0, -60%);
      background-image: url(img/star-black.png);
      background-position: center center;
      background-size: cover; }
    #programs h1:after {
      display: inline-block;
      content: '';
      width: 15px;
      height: 15px;
      margin-left: 20px;
      -webkit-transform: translate(0, -60%);
      -moz-transform: translate(0, -60%);
      -ms-transform: translate(0, -60%);
      transform: translate(0, -60%);
      background-image: url(img/star-black.png);
      background-position: center center;
      background-size: cover; }
  #programs p {
    font-size: 16px;
    font-family: Georgia;
    color: #485260; }
  #programs .programs .menu-tabs {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #ddd; }
    #programs .programs .menu-tabs li {
      display: inline-block;
      -webkit-transform: translate(0, 2px);
      -moz-transform: translate(0, 2px);
      -ms-transform: translate(0, 2px);
      transform: translate(0, 2px); }
      #programs .programs .menu-tabs li a {
        color: #000;
        display: block;
        padding: 35px 80px;
        font-size: 21px; }
  #programs .programs .tab {
    margin-top: 100px;
    position: relative;
    display: none; }
    #programs .programs .tab img {
      width: 100%; }
    #programs .programs .tab .bg-tab {
      font-family: RobotoBold;
      text-transform: uppercase;
      position: absolute;
      left: 44%;
      top: -7%;
      font-size: 190px;
      color: #ddd; }
      @media screen and (max-width: 768px) {
        #programs .programs .tab .bg-tab {
          display: none !important; } }
    #programs .programs .tab h3 {
      font-family: Georgia;
      font-size: 26px;
      margin-bottom: 17%; }
    #programs .programs .tab span, #programs .programs .tab h2 {
      font-family: Georgia; }
    #programs .programs .tab h4 {
      margin: 0;
      font-size: 20px;
      text-transform: uppercase;
      text-align: left; }
    #programs .programs .tab .conditionals div {
      margin-bottom: 20px; }
      #programs .programs .tab .conditionals div img {
        width: 30px;
        height: 30px;
        display: inline-block; }
      #programs .programs .tab .conditionals div span {
        display: inline-block;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        margin-left: 15px; }
    #programs .programs .tab .conditionals .price {
      font-family: Georgia;
      font-size: 30px;
      font-weight: bold; }
      #programs .programs .tab .conditionals .price h2, #programs .programs .tab .conditionals .price span {
        display: inline-block; }
      #programs .programs .tab .conditionals .price h2 {
        font-size: 50px;
        margin-bottom: 15px;
        margin-top: 0; }
    #programs .programs .tab .btn-reg {
      color: #fff;
      background-color: #000;
      padding: 15px 50px;
      transition: .3s;
      border: 1px solid transparent; }
      #programs .programs .tab .btn-reg:hover {
        color: #000;
        background-color: transparent;
        border: 1px solid #000; }
    #programs .programs .tab .offers .title-offer {
      position: relative;
      border-top: 1px solid #939393;
      height: 90px;
      margin-bottom: 40px; }
    #programs .programs .tab .offers span {
      position: absolute;
      bottom: 0; }
    #programs .programs .tab .offers p {
      text-align: left; }
    #programs .programs .tab .offers .offer-list {
      margin: 0;
      padding: 0; }
      #programs .programs .tab .offers .offer-list li {
        list-style-image: url(img/minus.png);
        margin-left: 16px;
        font-family: Georgia;
        font-size: 15px;
        color: #485260;
        margin-bottom: 20px; }
    #programs .programs .tab .description {
      margin-bottom: 30px; }
    #programs .programs .tab .includes {
      margin-top: 50px; }
    #programs .programs .tab .addition {
      padding: 0; }
      #programs .programs .tab .addition li {
        border-top: 1px solid #939393;
        border-left: 1px solid #939393;
        border-right: 1px solid #939393; }
        #programs .programs .tab .addition li img {
          width: 12px;
          height: 12px;
          margin-left: 7px; }
        #programs .programs .tab .addition li div {
          display: inline-block; }
        #programs .programs .tab .addition li .toggle {
          border-right: 1px solid #939393;
          display: inline-block;
          width: 35px;
          padding: 5px; }
        #programs .programs .tab .addition li .desc {
          color: #485260;
          padding-left: 10px; }
        #programs .programs .tab .addition li:last-child {
          border-bottom: 1px solid #939393; }

#gallery {
  background-image: url(img/gallery-bg.png);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  padding: 70px 0; }
  #gallery .gallery-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    background-image: url(img/border2.png);
    background-position: center center;
    background-size: cover; }
  #gallery .gallery-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 140px;
    background-image: url(img/border1.png);
    background-position: center center;
    background-size: cover; }
  #gallery .granola {
    position: absolute;
    bottom: -7%;
    right: 5%;
    width: 231px;
    height: 276px;
    z-index: 10;
    background-image: url(img/granola5.png);
    background-position: center center;
    background-size: cover; }
    @media only screen and (max-width: 768px) {
      #gallery .granola {
        width: 118px;
        height: 123px;
        bottom: 0; } }
  #gallery h1 {
    font-size: 50px;
    color: #fff;
    letter-spacing: 4px;
    margin-bottom: 45px; }
    @media only screen and (max-width: 768px) {
      #gallery h1 {
        font-size: 28px; } }
    #gallery h1:before {
      display: inline-block;
      content: '';
      width: 30px;
      height: 15px;
      margin-right: 20px;
      -webkit-transform: translate(0, -60%);
      -moz-transform: translate(0, -60%);
      -ms-transform: translate(0, -60%);
      transform: translate(0, -60%);
      background-image: url(img/rows-w-left.png);
      background-position: center center;
      background-size: cover; }
    #gallery h1:after {
      display: inline-block;
      content: '';
      width: 30px;
      height: 15px;
      margin-left: 20px;
      -webkit-transform: translate(0, -60%);
      -moz-transform: translate(0, -60%);
      -ms-transform: translate(0, -60%);
      transform: translate(0, -60%);
      background-image: url(img/rows-w-right.png);
      background-position: center center;
      background-size: cover; }
  #gallery p {
    font-size: 16px;
    color: #fff;
    font-family: Georgia;
    width: 35%;
    display: block;
    margin: 0 auto; }
    @media only screen and (max-width: 768px) {
      #gallery p {
        width: 100%; } }
  #gallery .slider-wrapper {
    margin-bottom: 100px;
    width: 100%;
    overflow-x: hidden; }
    #gallery .slider-wrapper #slider-gallery {
      user-select: none;
      -webkit-user-select: none;
      width: 9999px; }
      #gallery .slider-wrapper #slider-gallery .slide-c {
        display: inline-block;
        position: relative;
        margin: 50px 0; }
        @media screen and (max-width: 992px) {
          #gallery .slider-wrapper #slider-gallery .slide-c {
            margin: 50px 24px; } }
        @media screen and (max-width: 768px) {
          #gallery .slider-wrapper #slider-gallery .slide-c {
            margin: 50px 12px; } }
        #gallery .slider-wrapper #slider-gallery .slide-c .slide-content {
          width: 500px;
          margin: 0 30px; }
          @media screen and (max-width: 768px) {
            #gallery .slider-wrapper #slider-gallery .slide-c .slide-content {
              width: 80vw;
              margin: 0 auto; } }
          #gallery .slider-wrapper #slider-gallery .slide-c .slide-content img {
            display: block;
            width: 500px; }
  #gallery .slider-nav {
    width: 25%;
    margin: 30px auto; }
    @media only screen and (max-width: 768px) {
      #gallery .slider-nav {
        width: 70%; } }
    #gallery .slider-nav .btn-slide {
      display: inline-block;
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: relative; }
    #gallery .slider-nav .box {
      width: 60px;
      height: 60px;
      border: 1px solid #EAB96A;
      display: block;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      transition: 0.2s; }
    #gallery .slider-nav .btn-previous {
      width: 105px;
      height: 25px;
      background-image: url(img/arrow-gallery-left.png);
      background-position: center center;
      background-size: cover; }
      #gallery .slider-nav .btn-previous .box {
        left: -22%; }
      #gallery .slider-nav .btn-previous:hover .box {
        border-radius: 50%; }
    #gallery .slider-nav .btn-next {
      float: right;
      width: 105px;
      height: 25px;
      background-image: url(img/arrow-gallery-right.png);
      background-position: center center;
      background-size: cover; }
      #gallery .slider-nav .btn-next .box {
        right: -22%; }
      #gallery .slider-nav .btn-next:hover .box {
        border-radius: 50%; }

#testimonials {
  padding-bottom: 80px; }
  #testimonials h1 {
    font-size: 50px;
    letter-spacing: 4px;
    margin-bottom: 45px; }
    @media only screen and (max-width: 768px) {
      #testimonials h1 {
        font-size: 28px; } }
  #testimonials p {
    font-size: 16px;
    font-family: Georgia;
    display: block;
    color: #485260;
    margin: 0 auto;
    margin-bottom: 75px; }
    @media only screen and (max-width: 768px) {
      #testimonials p {
        width: 100%; } }
  #testimonials .slider-testimonials {
    position: relative;
    width: 50vw;
    overflow: hidden;
    margin: 0 auto; }
    @media screen and (max-width: 768px) {
      #testimonials .slider-testimonials {
        width: 80vw; } }
  #testimonials .slider-wrapper-t {
    width: 9999px;
    position: relative;
    float: left;
    transition: 0.5s; }
  #testimonials .slide-t {
    float: left;
    position: relative; }
  #testimonials #slider-nav-t {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }
    @media only screen and (max-width: 768px) {
      #testimonials #slider-nav-t {
        width: 68%; } }
  #testimonials .dots {
    display: block;
    float: left;
    cursor: pointer;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #000; }
  #testimonials .slide-content {
    width: 50vw;
    text-align: center;
    margin-bottom: 30px; }
    @media screen and (max-width: 768px) {
      #testimonials .slide-content {
        width: 80vw; } }
    #testimonials .slide-content p {
      line-height: 2.5; }
    #testimonials .slide-content h4 {
      font-size: 17px;
      letter-spacing: 2px; }
    #testimonials .slide-content .person-img {
      position: relative;
      margin: 0 auto;
      width: 170px;
      height: 170px; }
      #testimonials .slide-content .person-img img {
        width: 100%;
        border-radius: 50%; }
      #testimonials .slide-content .person-img .social-icon {
        position: absolute;
        right: -5%;
        top: 13%;
        width: 40px;
        height: 40px;
        background-color: #36609E;
        border-radius: 50%; }
        #testimonials .slide-content .person-img .social-icon img {
          display: block;
          border-radius: 0;
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          width: 12px; }

#partners {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 135px 0;
  position: relative; }
  #partners h1 {
    font-size: 50px;
    letter-spacing: 4px;
    margin-bottom: 45px;
    margin-top: 0; }
    @media only screen and (max-width: 768px) {
      #partners h1 {
        font-size: 25px; } }
    #partners h1:before {
      display: inline-block;
      content: '';
      width: 30px;
      height: 15px;
      margin-right: 20px;
      -webkit-transform: translate(0, -60%);
      -moz-transform: translate(0, -60%);
      -ms-transform: translate(0, -60%);
      transform: translate(0, -60%);
      background-image: url(img/rows-b-left.png);
      background-position: center center;
      background-size: cover; }
    #partners h1:after {
      display: inline-block;
      content: '';
      width: 30px;
      height: 15px;
      margin-left: 20px;
      -webkit-transform: translate(0, -60%);
      -moz-transform: translate(0, -60%);
      -ms-transform: translate(0, -60%);
      transform: translate(0, -60%);
      background-image: url(img/rows-b-right.png);
      background-position: center center;
      background-size: cover; }
  #partners .divider {
    width: 218px;
    height: 1px;
    background-color: #000;
    margin: 0 auto;
    margin-bottom: 60px; }
  #partners .slider-partners {
    position: relative; }
    #partners .slider-partners .slider-wrapper {
      width: 103%;
      -webkit-transform: translate(-3%, 0);
      -moz-transform: translate(-3%, 0);
      -ms-transform: translate(-3%, 0);
      transform: translate(-3%, 0);
      overflow-x: hidden;
      position: relative; }
      #partners .slider-partners .slider-wrapper #slider-partners {
        user-select: none;
        -webkit-user-select: none;
        width: 9999px; }
        #partners .slider-partners .slider-wrapper #slider-partners .slide-c {
          display: inline-block;
          position: relative;
          margin: 50px 20px; }
          @media screen and (max-width: 992px) {
            #partners .slider-partners .slider-wrapper #slider-partners .slide-c {
              margin: 50px 24px; } }
          @media screen and (max-width: 768px) {
            #partners .slider-partners .slider-wrapper #slider-partners .slide-c {
              margin: 50px 12px; } }
          #partners .slider-partners .slider-wrapper #slider-partners .slide-c img {
            width: 90px; }
          #partners .slider-partners .slider-wrapper #slider-partners .slide-c .slide-content {
            width: 160px; }
            @media screen and (max-width: 768px) {
              #partners .slider-partners .slider-wrapper #slider-partners .slide-c .slide-content {
                width: 80vw;
                margin: 0 auto; } }
            #partners .slider-partners .slider-wrapper #slider-partners .slide-c .slide-content img {
              display: block;
              margin: 0 auto; }
    #partners .slider-partners .slider-nav {
      width: 106%;
      display: block;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      transform: translate(-2%, -50%);
      top: 40%;
      margin: 30px auto; }
      @media only screen and (max-width: 768px) {
        #partners .slider-partners .slider-nav {
          width: 105%; } }
      #partners .slider-partners .slider-nav .btn-slide {
        display: inline-block;
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: relative; }
      #partners .slider-partners .slider-nav .btn-p-previous {
        width: 9px;
        height: 15px;
        background-image: url(img/arrow-slider-left.png);
        background-position: center center;
        background-size: cover; }
      #partners .slider-partners .slider-nav .btn-p-next {
        float: right;
        width: 9px;
        height: 15px;
        background-image: url(img/arrow-slider-right.png);
        background-position: center center;
        background-size: cover; }

#contact-us {
  position: relative;
  height: 700px;
  padding: 120px 0; }
  #contact-us .granols {
    position: absolute;
    top: -10%;
    left: -3%;
    width: 650px;
    height: 686px;
    z-index: 10;
    background-image: url(img/granols.png);
    background-position: center center;
    background-size: cover; }
    @media only screen and (max-width: 768px) {
      #contact-us .granols {
        display: none; } }
    @media only screen and (min-width: 768px) and (max-width: 992px) {
      #contact-us .granols {
        display: none; } }
    @media only screen and (min-width: 769px) and (max-width: 1199px) {
      #contact-us .granols {
        display: none; } }
  #contact-us .granola {
    position: absolute;
    top: 18%;
    left: 16%;
    width: 350px;
    height: 338px;
    z-index: 5;
    background-image: url(img/granola6.png);
    background-position: center center;
    background-size: cover; }
    @media only screen and (max-width: 768px) {
      #contact-us .granola {
        display: none; } }
    @media only screen and (min-width: 768px) and (max-width: 992px) {
      #contact-us .granola {
        display: none; } }
    @media only screen and (min-width: 769px) and (max-width: 1199px) {
      #contact-us .granola {
        display: none; } }
  #contact-us .granola-bottom {
    position: absolute;
    right: -8%;
    bottom: 0;
    width: 330px;
    height: 328px;
    z-index: 5;
    background-image: url(img/granola7.png);
    background-position: center center;
    background-size: cover; }
    @media only screen and (max-width: 768px) {
      #contact-us .granola-bottom {
        display: none; } }
    @media only screen and (min-width: 768px) and (max-width: 992px) {
      #contact-us .granola-bottom {
        display: none; } }
    @media only screen and (min-width: 769px) and (max-width: 1199px) {
      #contact-us .granola-bottom {
        display: none; } }
  #contact-us .contact-form h1, #contact-us .contact-form p {
    text-align: left; }
  #contact-us .contact-form h1 {
    font-size: 50px;
    letter-spacing: 4px;
    margin-bottom: 45px;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    margin-bottom: 25px; }
    @media only screen and (max-width: 768px) {
      #contact-us .contact-form h1 {
        font-size: 28px; } }
  #contact-us .contact-form p {
    font-size: 16px;
    font-family: Georgia;
    display: block;
    color: #485260;
    margin: 0 auto;
    margin-bottom: 75px; }
    @media only screen and (max-width: 768px) {
      #contact-us .contact-form p {
        width: 100%; } }
  #contact-us .contact-form form {
    position: relative; }
    #contact-us .contact-form form input[type="text"] {
      font-family: RobotoBlack;
      width: 350px;
      padding: 10px 0;
      display: block;
      font-size: 14px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid grey;
      margin-bottom: 35px; }
      @media only screen and (max-width: 768px) {
        #contact-us .contact-form form input[type="text"] {
          width: 100%; } }
      #contact-us .contact-form form input[type="text"]:focus {
        outline: none;
        border-bottom: 1px solid #EAB96A; }
    #contact-us .contact-form form input::-webkit-input-placeholder {
      color: #000; }
    #contact-us .contact-form form input::-moz-placeholder {
      color: #000; }
    #contact-us .contact-form form input::-ms-placeholder {
      color: #000; }
    #contact-us .contact-form form button {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      outline: none;
      text-transform: uppercase;
      background-color: transparent;
      -webkit-transform: translate(-25%, 0);
      -moz-transform: translate(-25%, 0);
      -ms-transform: translate(-25%, 0);
      transform: translate(-25%, 0);
      border: 1px solid #000;
      padding: 20px 80px;
      cursor: pointer;
      transition: .3s;
      font-size: 17px;
      letter-spacing: 2px; }
      @media only screen and (max-width: 768px) {
        #contact-us .contact-form form button {
          left: 25%;
          bottom: -100%; } }
      #contact-us .contact-form form button:hover {
        background-color: #000;
        color: #fff; }
      #contact-us .contact-form form button:hover:after {
        right: -50%; }
      #contact-us .contact-form form button:after {
        content: '';
        display: block;
        transition: .3s;
        display: block;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        right: -25%;
        width: 88px;
        height: 22px;
        background-image: url(img/arrow-c-right.png);
        background-position: center center;
        background-size: cover; }
  #contact-us .contact-us-bottom {
    position: absolute;
    z-index: 1000;
    bottom: -20%;
    left: 0;
    width: 100%;
    height: 140px;
    background-image: url(img/border2.png);
    background-position: center center;
    background-size: cover; }

footer {
  background-image: url(img/footer-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 120px;
  padding-bottom: 40px;
  color: #fff; }
  footer h1 {
    width: 70%;
    margin: 0 auto;
    font-size: 50px;
    letter-spacing: 4px;
    margin-bottom: 45px; }
    @media only screen and (max-width: 768px) {
      footer h1 {
        font-size: 28px;
        width: 100%; } }
  footer p {
    text-align: justify;
    font-size: 16px;
    font-family: Georgia;
    line-height: 1.5; }
  footer .copyright {
    margin-top: 45px;
    text-align: center;
    font-size: 16px;
    font-family: Georgia; }
    footer .copyright span {
      padding: 5px 15px; }
    footer .copyright .copy {
      font-family: Georgia; }
      @media only screen and (min-width: 768px) {
        footer .copyright .copy {
          border-right: 3px solid #fff; } }
    footer .copyright .by {
      text-transform: uppercase; }
      footer .copyright .by a {
        color: #fff;
        text-decoration: underline; }
        footer .copyright .by a:hover {
          text-decoration: none; }
  @media only screen and (min-width: 768px) {
    footer .row {
      width: 100%;
      margin: 0; }
      footer .row .col-md-6:first-child {
        padding-right: 30px; }
      footer .row .col-md-6:last-child {
        padding-left: 30px; } }
  footer img {
    width: 30px; }
  footer .footer-table {
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 30px;
    border: 2px solid #fff; }
    @media only screen and (max-width: 768px) {
      footer .footer-table {
        display: none; } }
    footer .footer-table .footer-menu {
      border-bottom: 1px solid #fff; }
      footer .footer-table .footer-menu #footer-menu {
        width: 47%;
        height: 100px;
        margin: 0 auto;
        padding: 0; }
        @media only screen and (max-width: 768px) {
          footer .footer-table .footer-menu #footer-menu {
            width: 100%;
            text-align: center;
            display: block;
            position: absolute;
            width: 100%;
            left: 100%;
            top: 100%;
            transition: 0.4s; } }
        footer .footer-table .footer-menu #footer-menu li {
          list-style: none;
          position: relative; }
          @media only screen and (min-width: 768px) {
            footer .footer-table .footer-menu #footer-menu li {
              height: 100px;
              margin: 0 5px;
              display: inline-block;
              float: left; }
              footer .footer-table .footer-menu #footer-menu li:after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                -webkit-transform: translate(0, -50%);
                -moz-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
                right: -10%;
                display: inline-block;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: #fff; }
              footer .footer-table .footer-menu #footer-menu li:last-child:after {
                content: '';
                display: none; } }
          footer .footer-table .footer-menu #footer-menu li a {
            color: #000;
            font-size: 16px;
            text-transform: uppercase;
            cursor: pointer;
            text-decoration: none;
            display: block;
            height: 100%;
            padding: 0 20px;
            color: #fff; }
            footer .footer-table .footer-menu #footer-menu li a:hover {
              color: #EAB96A !important; }
            @media only screen and (min-width: 768px) and (max-width: 992px) {
              footer .footer-table .footer-menu #footer-menu li a {
                padding: 0 10px; } }
            @media only screen and (max-width: 768px) {
              footer .footer-table .footer-menu #footer-menu li a {
                padding: 10px 150px;
                color: #EAB96A; } }
            @media only screen and (min-width: 768px) {
              footer .footer-table .footer-menu #footer-menu li a {
                line-height: 6.2; } }
    footer .footer-table .info-footer {
      border-top: 1px solid #4D4D4D;
      width: 100%;
      margin: 0; }
      footer .footer-table .info-footer div {
        height: 115px; }
  footer .contacts {
    display: none; }
    @media only screen and (max-width: 768px) {
      footer .contacts {
        display: block; } }
    footer .contacts li {
      margin-bottom: 10px; }
    footer .contacts span {
      font-size: 25px; }
    footer .contacts img {
      -webkit-transform: translate(0, 10%);
      -moz-transform: translate(0, 10%);
      -ms-transform: translate(0, 10%);
      transform: translate(0, 10%);
      margin-right: 5px;
      width: 25px; }
  footer .col-md-4 {
    height: 100px;
    border-right: 1px solid #4D4D4D; }
    footer .col-md-4 img, footer .col-md-4 span {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    footer .col-md-4 span {
      text-transform: uppercase;
      letter-spacing: 2px; }

.active-tab {
  border-bottom: 4px solid #000; }

.active-dot {
  background-color: #EAB96A !important; }

.show {
  display: block !important; }

.hide {
  display: none !important; }

.black {
  background-color: #000;
  border-bottom: 1px solid #827B7B; }

@media only screen and (min-width: 768px) {
  .logo-up {
    transition: 0.5s;
    transform: translateY(-114%) !important;
    width: 120px !important;
    height: 80px !important; } }

/*# sourceMappingURL=styles.css.map*/