.active-tab {
    @include border(bb, 4px, #000);
}
.active-dot{
  background-color: $gold !important;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
.black {
  background-color: #000;
  @include border(bb, 1px, #827B7B);
}
.logo-up {
  @include media(nomobile) {
    transition: 0.5s;
    transform: translateY(-114%) !important;
    width: 160px !important;
    height: 75px;
  }
}
