footer {
  background-image: url(../img/footer-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 120px;
  padding-bottom: 40px;
  color: #fff;
  h1 {
    width: 70%;
    margin: 0 auto;
    font-size: 50px;
    @include media(mobile) {
      font-size: 28px;
      width: 100%;
    };
    letter-spacing: 4px;
    margin-bottom: 45px;
  }
  p {
    text-align: justify;
    font-size: 16px;
    font-family: Georgia;
    line-height: 1.5;
  }
  .copyright {
    margin-top: 45px;
    text-align: center;
    font-size: 16px;
    font-family: Georgia;
    span {
      padding: 5px 15px;
    }
    .copy {
      font-family: Georgia;
      @include media(nomobile) {
        @include border(br, 3px, #fff);
      }

    }
    .by {
      text-transform: uppercase;
      a {
        color: #fff;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .row {
    @include media(nomobile) {
      .col-md-6:first-child {
        padding-right: 30px;
      }
      .col-md-6:last-child {
        padding-left: 30px;
      }
      width: 100%;
      margin: 0;
    }
  }
  img {
    width: 30px;
  }
  .footer-table {
    background-color: rgba(0,0,0,0.4);
    margin-top: 30px;
    @include media(mobile) {
      display: none;
    }
    @include border(b, 2px, #fff);
    .footer-menu {
      @include border(bb, 1px, #fff);
      #footer-menu {
        width: 535px;
        height: 100px;
         margin: 0 auto;
         padding: 0;
         @include media(mobmed) {
           width: 455px;
         }
         @include media(mobile) {
           width: 100%;
            text-align: center;
            display: block;
            position: absolute;
            width: 100%;
            left: 100%;
            top: 100%;
            transition: 0.4s;
         }

         li {
           list-style: none;
           position: relative;

           @include media(nomobile) {
             height: 100px;
             margin: 0 5px;
             display: inline-block;
             float: left;
             &:after {
               content: '';
               @include centerVertical();
               right: -10%;
               display: inline-block;
               width: 5px;
               height: 5px;
               border-radius: 50%;
               background-color: #fff;
             }
             &:last-child:after {
              content: '';
              display: none;
            }
           }
           a {
               @include link(#000, $gold, 16px, uppercase);
               display: block;
               height: 100%;
               padding: 0 20px;
               color: #fff;
               @include media(mobmed) {
                 padding: 0 10px;
               }
               @include media(mobile) {
                padding: 10px 150px;
                color: $gold;
               }
               @include media(nomobile) {
                 line-height: 6.2;
               }
             }
         }
       }
      }
      .info-footer {
        @include border(bt, 1px, #4D4D4D);
        width: 100%;
        margin: 0;
        div {
          height: 115px;
        }
      }
  }
  .contacts {
    display: none;
    @include media(mobile) {
      display: block;
    }
    li {
      margin-bottom: 10px;
    }
    span {
      font-size: 25px;
    }
    img {
      @include translate(0, 10%);
      margin-right: 5px;
      width: 25px;
    }
  }
  .col-md-4 {
    height: 100px;
    @include border(br, 1px, #4D4D4D);
    img, span {
      @include center();
    }
    span {
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}
