#programs {
  padding: 30px 0;
  position: relative;
  .granola {
    position: absolute;
    top: 13%;
    left: -3%;
    width: 160px;
    height: 197px;
    z-index: 10;
    background-image: url(../img/granols/granola2.png);
    background-position: center center;
    background-size: cover;
    @include media(mobile) {
      display: none;
    };
  }
  .cup-coffee {
    position: absolute;
    bottom: -10%;
    right: 0;
    width: 600px;
    height: 657px;
    z-index: 10;
    background-image: url(../img/coffee-cup.png);
    background-position: center center;
    background-size: cover;
    @include media(mobile) {
      display: none;
    };
  }
  h1 {
    font-size: 50px;
    @include media(mobile) {
      font-size: 28px;
    };
    letter-spacing: 4px;
    margin-bottom: 45px;
    &:before {
      display: inline-block;
      content: '';
      width: 15px;
      height: 15px;
      margin-right: 20px;
      @include translate(0, -60%);
      background-image: url(../img/icons/star-black.png);
      background-position: center center;
      background-size: cover;
    }
    &:after {
      display: inline-block;
      content: '';
      width: 15px;
      height: 15px;
      margin-left: 20px;
      @include translate(0, -60%);
      background-image: url(../img/icons/star-black.png);
      background-position: center center;
      background-size: cover;
    }
  }

  p {
    font-size: 16px;
    font-family: Georgia;
    color: rgb( 72, 82, 96 );
  }

  .programs {
    .menu-tabs {
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: center;
      @include border(bb, 1px, #ddd);
      li {
        display: inline-block;
        @include translate(0, 2px);
        a {
          color: #000;
          display: block;
          padding: 35px 80px;
          font-size: 21px;
        }
      }
    }

    .tab {
      margin-top: 100px;
      position: relative;
      display: none;
      img {
        width: 100%;
      }
      .bg-tab {
        font-family: RobotoBold;
        text-transform: uppercase;
        position: absolute;
        left: 44%;
        top: -7%;
        font-size: 190px;
        color: #ddd;
        @media screen and (max-width: 768px) {
          display: none !important;
        }
      }
      h3 {
        font-family: Georgia;
        font-size: 26px;
        margin-bottom: 17%;
      }
      span, h2 {
        font-family: Georgia;
      }
      h4 {
        margin: 0;
        font-size: 20px;
        text-transform: uppercase;
        text-align: left;
      }
      .conditionals {
        div {
          margin-bottom: 20px;
          img {
            width: 30px;
            height: 30px;
            display: inline-block;
          }
          span {
            display: inline-block;
            @include translate(0, -50%);
            margin-left: 15px;
          }
        }
        .price {
          font-family: Georgia;
          font-size: 30px;
          font-weight: bold;
          h2, span {
            display: inline-block;
          }
          h2 {
            font-size: 50px;
            margin-bottom: 15px;
            margin-top: 0;
          }
        }
      }
      .btn-reg {
        color: #fff;
        background-color: #000;
        padding: 15px 50px;
        transition: .3s;
        @include border(b, 1px, transparent);
        &:hover {
          color: #000;
          background-color: transparent;
          @include border(b, 1px, #000);
        }
      }
      .offers {
        .title-offer {
          position: relative;
          @include border(bt, 1px, #939393);
          height: 90px;
          margin-bottom: 40px;
        }

        span {
          position: absolute;
          bottom: 0;
        }
        p {
          text-align: left;
        }
        .offer-list {
          margin: 0;
          padding: 0;
          li {
            list-style-image: url(../img/icons/minus.png);
            margin-left: 16px;
            font-family: Georgia;
            font-size: 15px;
            color: rgb( 72, 82, 96 );
            margin-bottom: 20px;
          }
        }
      }
      .description {
        margin-bottom: 30px;
      }
      .includes {
        margin-top: 50px;
      }
      .addition {
        padding: 0;
        li {
          img {
            width: 12px;
            height: 12px;
            margin-left: 7px;
          }
          @include border(bt, 1px, #939393);
          @include border(bl, 1px, #939393);
          @include border(br, 1px, #939393);
          div {
            display: inline-block;
          }
          .toggle {
            @include border(br, 1px, #939393);
            display: inline-block;
            width: 35px;
            padding: 5px;
          }
          .desc {
            color: rgb( 72, 82, 96 );
            padding-left: 10px;
          }
          &:last-child {
            @include border(bb, 1px, #939393);
          }
        }
      }
    }
  }

}
